
button {
    border: .002rem solid black;
    border-radius: .25rem;
    width: 60px;
    height: 50px;
}
/*#calculator {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
}
*/
#screen {
    border: .002rem solid black;
    border-radius: .25rem;
    width: 238px;
    height: 70px;
}

#keys {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;

}

#operator {
    background-color: orange;
}

#number {
    background-color: #A8A8A8;
}

.misc {
    background-color: #828282
}
